/* UTILS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@300;500&display=swap');
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.active-menu {
    overflow: hidden;
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1180px;
    }
}

.silver_text {
    color: #767676;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.bold {
    font-weight: 900 !important;
    font-size: 22px !important;
}

input:focus {
    outline: none;
}

.active-link {
    opacity: .7;
}

.active-link:hover {
    color: #fff;
}

.title-block {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.title-block-black {
    text-align: center;
    color: #000;
}

.title-block h2,
.title-block-black h2 {
    font-size: 45px;
    line-height: 53px;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 52px;
    font-weight: 400;
}

.title-page h1 {
    text-align: center;
    font-size: 45px;
    line-height: 53px;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    margin-bottom: 25px;
}

.title-page p {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.slick-next {
    right: 0;
}

.slick-prev {
    left: 0;
}

.btn-head {
    border-radius: 30px;
    padding: 5px 15px;
    background-color: #c19aff;
    color: #fff;
}

.btn-head:hover {
    color: #fff;
    background-color: #ffc20f;
}

.title {
    font-size: 28px;
    font-weight: 900;
    margin: 10px 0 30px;
}

.title_big h3 {
    font-weight: 900;
    margin: 10px 0 30px;
    font-size: 38px;
}

.small-text {
    color: #888888;
    font-size: 14px;
    line-height: 1.55;
}

.price-text {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
}

.btn-basket {
    color: #000000;
    background-color: #ffc20f;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: 700;
    padding: 10px 20px;
}

.btn-basket:hover {
    background-color: #c19aff !important;
    color: #fff;
}

.select {
    position: relative;
    width: 150px;
    max-width: 150px;
}

.select i {
    position: absolute;
    right: 5px;
    top: 30%;
}

select {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 1px #ddd solid;
    background: #f8f8f8;
    color: #000;
    box-sizing: border-box;
    cursor: pointer;
    padding: 2px 30px 2px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.category-select {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 35px;
}

.category-select .select {
    width: 180px;
    max-width: 180px;
}


/* UTILS-END */

body {
    position: relative;
}

header {
    z-index: 10;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 20px;
}

.search {
    width: 100%;
    max-width: 440px;
}

.search form .btn_search {
    background-color: rgb(87 87 87);
    color: #fff;
    transition: all .5s ease;
}

.btn_search:hover {
    background-color: #000 !important;
}

.search form {
    width: 100%;
}

.search .search-input {
    width: 100%;
}

.navbar {
    display: block;
}

.navbar_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navbar-nav {
    margin-top: 20px;
    padding: 20px 0;
    background-color: rgb(87 87 87);
}

.bg_layout {
    /* background-color: rgb(87 87 87) !important; */
    position: relative;
}

.navbar {
    padding: 0;
}

.navbar-brand img {
    max-width: 100px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: #fff;
    margin-left: 1.5rem;
    font-weight: 600;
    transition: all .5s ease;
}

nav ul li a:hover {
    text-decoration: none;
    color: #b0b0b0;
}


/* info-header */

.info-header {
    background-color: #EBEBEB;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.info-header-content {
    display: flex;
    align-items: end;
}

.info-header-content span {
    color: #000;
    font-weight: bolder;
}

.info-header-content i {
    margin-right: 10px;
    color: red;
    font-size: 28px;
}


/* info-header-end */


/* search */


/* .search {
        margin-top: 1rem;
    } */

.search form {
    display: flex;
    justify-content: space-between;
}

.search-input {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input .search-icon {
    max-width: 24px;
    max-height: 24px;
    position: absolute;
    right: 24px;
}

.search input[type=text] {
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
    padding: 12px 24px;
    border-color: transparent;
    background: rgba(0, 0, 0, 0.14);
    border-radius: 90px;
    font-weight: 300;
    border: 1px solid transparent;
}

.search input[type=text]:focus {
    outline: none;
    border-color: #000;
}

.search .btn {
    margin-left: 10px;
}


/* search-end */


/* AREND-CATEGORY  */

.main-category {
    min-height: 50.7vh !important;
}

.main-category .main-category-content {
    padding: 120px 0;
}

.main-cartegory-card {
    height: 190px;
}

.main-category .main-category-content .main-cartegory-card a {
    color: #000;
    display: flex;
    align-items: flex-start;
    justify-content: right;
    background-color: #C3D6F2;
    border-radius: 20px;
    padding: 13px 24px;
    font-weight: 400;
    font-size: 24px;
    position: relative;
    height: 100%;
    background-image: url("/storage/img/card-bg.png");
}

.main-category .main-category-content .category-card a {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #fff;
    border-radius: 20px;
    padding: 13px 24px;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 39px 3px rgba(0, 0, 0, 0.19);
    border-radius: 30px;
}

.main-category .main-category-content .category-card.active a {
    background-color: #FFBE00;
    color: #fff;
}

.main-category .main-category-content .category-block {
    border-radius: 15px;
    transition: all .5s ease;
    right: 8px;
    bottom: 10px;
}

.main-category .main-category-content .main-cartegory-card img {
    max-width: 175px;
    width: 100%;
    height: 100%;
    max-height: 175px;
    margin-top: 12px;
}

.main-category .main-category-content .category-card img {
    max-width: 73px;
    max-height: 83px;
    width: 100%;
    height: 100%;
}

.main-category .main-category-content .main-cartegory-card a .card_text {
    position: absolute;
    left: 24px;
    max-width: 60%;
}

.main-category .main-category-content .category-card a .card_text {
    margin-left: 12px;
}

.main-category .main-category-content .category-card a .card_text p {
    margin-bottom: 0;
}

.category-main-top a {
    color: #000;
}

.main-category .main-category-content a:hover {
    text-decoration: none;
}

.category-main {
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
    padding: 15px 15px 24px;
    margin-bottom: 40px;
}

.category-block-img {
    width: 100%;
    min-height: 160px;
    max-height: 260px;
    border-radius: 25px 25px 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.category-img-none {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.category-hover {
    position: relative;
    margin-bottom: 1rem;
}

.category-block-img {
    transition: all .5s ease;
}

.category-hover:hover .category-block-img {
    transform: scale(1.1);
}

.category-block-text .category_t {
    display: block;
    margin: 7px 0;
    font-weight: 600;
    color: #000;
}

.category-block-text .btn-basket {
    margin-top: 1.5rem;
}

.products {
    margin-top: 70px;
}

.product_card {
    margin-top: 22px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 39px 3px rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    background-image: url("/storage/img/product_card_bg.svg");
    text-align: center;
    padding: 13px 25px 20px;
}

.product_card_img {
    margin-bottom: 12px;
}

.product_card_img img {
    width: 100%;
    height: 100%;
    max-width: 194px;
    max-height: 185px;
}

.product_card_descr {
    font-size: 19px;
    line-height: 23px;
    color: #000;
}

.product_card_price {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.product_card .btn_yellow {
    width: 100%;
    background-color: #FFBE00;
    color: #fff;
    border-radius: 20px;
    padding: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 27px -7px rgb(252 137 0 / 98%);
}

.main_slider .main_slider-item {
    position: relative;
    min-height: 70vh;
    background-color: #10428B;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 60%;
    display: flex;
    align-items: center;
    padding: 25px 0;
}

.main_slider .main_slider-item .slider_bg_img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 70%;
}

.main_slider .main_slider-item .slder_text {
    color: #fff;
    max-width: 540px;
    width: 100%;
}

.main_slider .main_slider-item .slder_text .slider_title {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 30px;
}

.main_slider .main_slider-item .slder_text .slider_descr {
    max-width: 430px;
    width: 100%;
    font-size: 24px;
}

.main_slider .main_slider-item .slder_text .slider_title .slider_title_item {
    color: #FFBE00;
}

.main_slider .main_slider-item .slider_bg_img img {
    width: 100%;
}

.main_slider .main_slider-item img {
    width: 100%;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}


/* AREND-CATEGORY-END  */


/* APP-BLOCK  */

.app-block {
    height: 100vh;
    overflow: hidden;
    background: url(../images/app-bg.webp);
}

.smart-img {
    height: 100%;
    position: relative;
}

.app-left {
    display: flex;
    align-items: center;
    height: 100%;
}

.app-left h1 {
    font-weight: bolder;
    margin-bottom: 30px;
    font-size: 44px;
}

.app-left p {
    font-size: 17px;
}

.app-left img {
    width: 80%;
    margin-top: 2rem;
}

.app-block .smart-img img {
    width: 100%;
    position: absolute;
    bottom: -20px;
}


/* APP-BLOCK-END  */


/* about-us */

.about_us {
    background-color: #10428B;
    background-image: url("/storage/img/about_us_bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: center;
    padding: 105px 0 115px 0;
}

.about_us_text {
    color: #fff;
    font-size: 24px;
}

.about_us_slide .about_us_img {
    width: 100%;
}


/* about-us-end */


/* .slick-arrow */

.slick-arrow {
    background-size: cover;
    background-position: center;
    z-index: 999;
}

.slick-arrow:hover {
    opacity: .7;
}

.slick-arrow::before {
    display: none;
}

.slick-dots {
    position: inherit !important;
    text-align: inherit;
}

.slick-dots li button {
    width: 9px;
    height: 9px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 auto;
}

.slick-dots li button::before {
    display: none;
}

.slider-navs {
    margin-top: 63px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 99;
    text-align: center;
}

.slider-dots,
.about_slider-dots-count {
    text-align: center;
    color: #fff;
}

.slider-dots-count,
.about_slider-dots-count {
    font-size: 26px;
    line-height: 32px;
}

.slider-dots-count .current-slide,
.about_slider-dots-count .current-slide {
    color: #FFBE00;
}

.slick-arrow:focus {
    outline: none;
    box-shadow: none;
}


/* .slick-arrow */


/* brands */

.brands {
    padding: 105px 0;
}

.brands_slider .brand_slider_item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brands_slider .brand_slider_item img {
    max-width: 199px;
    max-height: 151px;
    width: 100%;
    height: 100%;
}

.brands_slider .slick-track {
    display: flex;
    align-items: center;
}

.brands_slider .slick-next {
    width: 54px;
    height: 54px;
    background-image: url("/storage/img/slider-right.svg");
    right: -5%;
}

.brands_slider .slick-prev {
    width: 54px;
    height: 54px;
    background-image: url("/storage/img/slider-right.svg");
    transform: rotate(180deg);
    left: -5%;
    top: calc(50% - 27px);
}

.brands_slider .slick-arrow.slick-disabled {
    display: none !important;
}


/* brands-end */


/* questions */

.questions {
    background-color: #10428B;
    padding: 105px 0 120px;
    background-image: url("/storage/img/quest-bg.svg");
    background-size: cover;
}

.questions_content {
    background-color: #fff;
    padding: 28px 40px 15px;
    border: 5px solid rgba(0, 0, 0, 0.19);
    box-shadow: 0px 0px 51px rgba(0, 0, 0, 0.72);
    border-radius: 30px;
}

.question {
    border-bottom: 2px solid rgba(0, 0, 0, 0.17);
}

.question:last-child {
    border: none;
}

.question_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
}

.question_header.active .plus {
    transform: rotate(-45deg);
}

.question_header:not(:first-child) {
    background-color: red;
}

.question_header p {
    margin-bottom: 0;
}

.question_header .plus {
    padding: 0;
    transition: all .5s ease;
    outline: none;
}

.question_header .plus:focus {
    outline: none;
    box-shadow: none;
}

.question_header .plus img {
    max-width: 40px;
}

.question_description {
    font-size: 24px;
    line-height: 29px;
    display: none;
    padding: 22px 0;
}


/* questions-end */


/* FOOTER */

footer {
    padding: 40px 0;
}

footer.bg_layout {
    background-color: #10428B;
}

footer.bg_layout a,
footer.bg_layout p {
    color: #fff;
}

footer .title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
}

footer li {
    margin-bottom: 1rem;
}

footer li a {
    color: #000;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

footer .tel {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    color: #000000;
}

footer form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

footer form input {
    border-radius: 30px;
    padding: 5px 15px;
    border: 1px solid #ccc;
}

footer form .btn {
    margin-left: 10px;
}

footer li a:hover {
    text-decoration: none;
    opacity: .7;
}

.socials i {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
}

.footer-end {
    font-size: 14px;
    margin-top: 2rem;
}

.footer-end a {
    color: #fff;
}

.footer-end a img {
    width: 100%;
    height: 100%;
    max-width: 459px;
    max-height: 68px;
}


/* FOOTER-END */


/* MEDIA-MOBILE */


/* BTN-BACK-CALL */

.back-call {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 5%;
    right: 5%;
    transition: all .5s ease;
    z-index: 9999;
}

.back-call-content {
    position: relative;
}

.btn-toolip {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ff0000;
    color: #fff;
    font-size: 14px;
}

.btn-toolip:focus {
    outline: none;
}

.btn-toolip::after {
    content: "";
    width: 100%;
    height: 100%;
    border: 2px solid #e1d0fc;
    position: absolute;
    border-radius: 50%;
    transform: scale(1);
    top: 0;
    animation-name: callLine;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.tool_modal .close {
    position: absolute;
    right: 10px !important;
    top: 5px !important;
    font-size: 40px !important;
    line-height: 30px;
}

.tool_modal .btn-outline {
    border-radius: 30px;
    border: 2px solid #c19aff;
    padding: 5px 30px;
    margin-bottom: 30px;
}

.btn-outline:hover {
    background-color: #c19aff;
    color: #fff;
}

.tool_modal .modal_img {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool_modal .modal_img .img {
    max-width: 200px;
    max-height: 200px;
}

.tool_modal .modal-content {
    padding: 40px 20px;
}

.tool_modal .modal_description p {
    font-size: 14px;
}

.modal_description .silver_text {
    font-size: 12px;
}

.modal_description .price {
    font-size: 25px !important;
    font-weight: 600;
}

.tool_modal .modal_description ul {
    margin: 20px 0;
}

[name=deliveryType],
[name=paymentType] {
    width: 60% !important;
}

@keyframes callLine {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

.btn-toolip:hover {
    color: #fff;
    background-color: #ff4f4f !important;
}

.tooltip-top {
    min-width: 240px;
    min-height: 50px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: 0px !important;
    bottom: 120px !important;
    background-color: #ff4f4f;
    color: #fff;
    opacity: 0;
    transition: all 1s ease;
    pointer-events: none;
}

.tooltip-top:after {
    content: '';
    clip-path: polygon(0 0, 0 100%, 100% 0);
    width: 20px;
    height: 20px;
    display: block;
    background-color: #ff4f4f;
    position: absolute;
    bottom: -20px;
    right: 30px;
    transition: all .5s ease;
}

.back-call:hover .tooltip-top {
    opacity: 1;
}


/* BTN-BACK-CALL */


/* modal */

.modal-dialog {
    max-width: 60%;
}

.basket_modal .modal-dialog {
    max-width: 40%;
}

.basket_modal .modal-dialog .modal-content {
    padding: 10px !important;
}

.modal-content {
    padding: 110px;
    background-color: #EBEBEB;
}

.modal-content .modal-body h2 {
    font-weight: 100;
}

.modal form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.modal form input[type="text"] {
    width: 100%;
    border: none;
    padding: 10px;
}

.modal form input[type="submit"] {
    width: 70%;
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    transition: all .5s ease;
}

.modal form input[type="submit"]:hover {
    background-color: #ff0000;
    opacity: .5;
}

.modal_btn {
    padding: 10px 30px;
    background-color: #ff0000;
    color: #fff !important;
    border: none;
    transition: all .5s ease;
}

.modal_btn:hover {
    background-color: #ff0000;
    opacity: .5;
}

.countdown-timer {
    margin-left: 10px;
}

.modal .small-text {
    margin-top: 10px;
    display: block;
    margin-right: 5px;
}

.modal .close {
    position: absolute;
    right: 1rem;
    font-size: 62px;
    line-height: 30px;
    top: 1rem;
}

.modal .close:focus {
    outline: none;
}

.call-btn {
    animation-name: callBtn;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: none;
}

.call-btn:focus {
    outline: none;
}

.call-icon {
    font-size: 34px;
    animation-name: callIcon;
    animation-duration: 1s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform: rotate(-25deg);
}

@keyframes callBtn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
    }
}

@keyframes callIcon {
    from {
        transform: rotate(-25deg);
    }
    to {
        transform: rotate(0deg);
    }
}


/* MODAL-END */

.breadcrubs {
    background-color: #f5f5f5;
    padding: 15px 0;
}

.breadcrubs a {
    color: #000;
    font-size: 14px;
}

.prev_link {
    position: relative;
    padding-right: 20px;
}

.prev_link::before {
    content: '→';
    position: absolute;
    display: block;
    line-height: 10px;
    top: 5px;
    right: 3px;
}

.how_to_order_content {
    position: relative;
}

.how_to_order_info {
    margin-bottom: 100px;
}

.how_to_order_content img {
    width: 100%;
}

.how_to_order_content .col-xl-6 {
    position: static;
}

.line {
    width: 2px;
    background-color: #f5f5f5;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.number_info {
    background-color: #2f613f;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
}

.info_left {
    padding-right: 50px;
    text-align: right;
}

.info_right {
    text-align: left;
    padding-left: 50px;
}

.how_to_order_info_text h5 {
    margin: 30px 0;
    font-weight: bold;
}

.contacts {
    padding: 20px 0 40px;
}

.contacts .title_big h3 {
    margin-bottom: 0;
}

.contact_info p {
    font-size: 20px;
}

.contacts .socials i {
    color: #000;
}

.contacts .socials i:hover {
    color: #c19aff;
}

.map {
    box-shadow: 0 0 15px 0px #e9e9e9;
}

.product_img {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_img img {
    max-width: 70%;
    width: 100%;
    cursor: pointer;
}

.btn_kaspi {
    display: flex;
    margin-top: 30px;
    width: 160px;
    height: 44px;
    background: #f14635;
    background: linear-gradient(#f76051 2%, #fb806d 5%, #f76051 5%, #f14635);
    color: #fff;
    border-bottom: 2px solid #e04131;
    font-size: 14px;
    text-decoration: none !important;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.btn_kaspi:hover {
    color: #fff;
}

.btn_kaspi img {
    margin-right: 5px;
}

.price_info {
    display: flex;
    align-items: center;
}

.price_wrapper {
    font-size: 12px;
}

.price_info span {
    margin: 0;
    font-size: 14px;
}

.price_info .large_text {
    font-size: 14px;
}

.price_info .small_text {
    font-size: 12px;
}

.btn-green {
    background-color: #25D366;
    border-color: #25D366;
    color: #fff;
}

.btn-green i {
    margin-right: 10px;
}

.input-group {
    width: fit-content;
    background: #f7f7f7;
    border-radius: 5px;
    border: 1px solid;
    border-color: #dadada;
}

.add_cart {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.add_cart .btn {
    margin-left: 20px;
}

.add_cart .input-group input {
    width: 55px;
    flex: none !important;
    background: #f7f7f7;
    border: none;
    border-radius: 5px;
    height: 100%;
    padding: 3px 10px;
}


/* MEDIA-MOBILE */

.mobile_basket {
    display: none;
    position: fixed !important;
    right: 10px;
    top: 10%;
    margin: 0 !important;
    padding: 10px;
}

.mobile_basket i {
    font-size: 35px;
    color: #fff !important;
}

.mobile_basket span {
    right: 0 !important;
}

.spinner-border {
    width: 8rem;
    height: 8rem;
    margin-top: -140px !important;
}

@media only screen and (max-width: 576px) {
    .m-none {
        display: none;
    }
    .navbar_content {
        display: block;
    }
    .navbar-brand {
        display: block;
        text-align: center;
        margin-right: 0;
    }
    .nav_content {
        display: block;
    }
    .nav_content .search {
        width: 100%;
        padding-left: 0;
        margin: 20px 0;
    }
    .header_phone .basket_icon {
        display: none !important;
    }
    .header_phone {
        text-align: center !important;
    }
    .mobile-menu {
        display: flex !important;
    }
    .title {
        font-size: 18px !important;
        text-align: center;
        margin-bottom: 15px !important;
    }
    footer li a {
        font-size: 16px !important;
    }
    footer li {
        text-align: center;
    }
    h4 {
        text-align: center;
        font-size: 18px;
    }
    footer .socials {
        text-align: center;
    }
    footer P {
        text-align: center;
    }
    .category-block-text {
        text-align: center;
    }
    .btn_kaspi {
        margin: 20px auto;
        width: 100%;
        max-width: 232px;
    }
    .desktop {
        display: none;
    }
    .mobile_basket {
        display: block;
    }
    .category-block p {
        font-size: 13px;
    }
    .back-call {
        width: 50px;
        height: 50px;
        z-index: 8888;
    }
    .btn-toolip {
        width: 50px;
        height: 50px;
    }
    .call-icon {
        font-size: 25px;
    }
    .modal .close {
        right: 5px;
        font-size: 40px;
        line-height: 20px;
        top: 5px;
    }
    .modal-content .modal-body h2 {
        font-size: 24px;
    }
    .modal-body {
        padding-top: 2rem;
    }
    .modal form {
        display: block;
    }
    .modal form input[type="text"] {
        margin-bottom: 1rem;
    }
    .modal-content {
        padding: 25px !important;
    }
    .modal-dialog {
        max-width: 100% !important;
    }
    footer input,
    footer .btn-head {
        font-size: 12px;
    }
    footer form input[type='text'] {
        width: 100%;
    }
    .category-main {
        padding: 20px 10px !important;
    }
    .main-category .main-category-content p {
        font-size: 18px;
    }
    .product_card_price {
        font-size: 22px !important;
    }
    .main_slider .main_slider-item .slder_text .slider_title {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .main_slider .main_slider-item .slder_text .slider_descr {
        max-width: 100%;
        width: 100%;
        font-size: 18px;
    }
    .title-block h2,
    .title-block-black h2 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .about_us_text {
        font-size: 18px;
    }
    .category-block-img {
        width: 100%;
        min-height: 110px;
        max-height: 110px;
    }
    .main-category .main-category-content .category-block img {
        width: 100%;
    }
    .number_info {
        margin: 0;
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    .line {
        margin: 0 0 0 20px;
    }
    .info_left,
    .info_right {
        padding-right: 0;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-brand img {
        max-width: 155px !important;
    }
    .main-category .main-category-content {
        padding: 30px;
    }
    .footer .title {
        font-size: 16px;
    }
    .add_cart .btn {
        width: 100%;
        max-width: 160px;
        height: 44px;
        margin-left: 0 !important;
        padding: 0;
        font-size: 13px;
    }
    .wp_btn img {
        height: 44px;
    }
    .add_cart {
        justify-content: center;
    }
    .add_cart .input-group {
        height: 44px;
        margin-right: 10px;
    }
    .add_cart .input-group input {
        text-align: center;
    }
    .fancybox-navigation .fancybox-button--arrow_left {
        left: 0% !important;
    }
    .fancybox-navigation .fancybox-button--arrow_right {
        right: 0% !important;
    }
    #basketForm {
        width: 100%;
    }
    .product_item_wrapper {
        width: 100% !important;
    }
    .product_name {
        align-items: unset !important;
    }
    .burger {
        background-color: rgb(87 87 87) !important;
        display: flex !important;
    }
    .modal-dialog {
        max-width: 90%;
    }
    .modal-content {
        padding: 50px;
    }
    .btn-basket {
        padding: 8px 0;
        width: 100%;
        font-size: 12px;
    }
    header {
        max-height: unset;
        height: auto;
        padding: 10px 0;
    }
    .navbar-collapse {
        text-align: center;
    }
    .navbar-collapse a.btn-head {
        margin-bottom: 1.5rem;
    }
    nav ul li a {
        margin-left: 0;
    }
    .navbar-collapse ul li,
    .navbar-collapse form {
        margin-bottom: 1.5rem;
        justify-content: center;
    }
    .main-category .main-category-content .category-block {
        max-height: 160px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .select {
        width: 100%;
    }
    .app-left {
        padding-top: 40px;
    }
    .app-left a {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 1rem;
    }
    .app-left a img {
        width: 65%;
    }
    .app-left h1 {
        font-size: 28px;
    }
    .app-block .smart-img {
        text-align: center;
    }
    .app-block .smart-img img {
        position: static;
        width: 70%;
    }
    .map {
        margin-top: 30px;
    }
}


/* delivery terms */

.delivery-terms {
    background-image: url("/storage/img/delivery_bg.png");
    padding: 105px 0 120px;
}


/* delivery terms end */

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .burger {
        display: none !important;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {
    .search {
        width: 60%;
    }
    .modal-dialog {
        max-width: 90%;
    }
    .modal-content {
        padding: 50px;
    }
    .app-block {
        height: unset;
        padding: 2rem 0 0;
    }
    .app-block .smart-img {
        text-align: center;
    }
    .app-block .smart-img img {
        position: static;
        width: 50%;
    }
    .app-left img {
        width: 50%;
    }
    .map {
        margin-top: 30px;
    }
}

.basket_wrapper {
    padding: 40px 0 60px;
    min-height: 46.6vh;
}

.basket_wrapper .title {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #000;
    padding-bottom: 15px;
}

.basket_wrapper .title p {
    margin-bottom: 0;
}

.basket_wrapper .title span {
    background-color: red;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
}

.user_info li {
    display: flex;
    margin-bottom: 20px;
}

.user_info input,
textarea {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 10px;
}

.error_text {
    color: red;
    margin-top: -20px;
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
}

.user_info input[type="text"] {
    width: 60%;
}

.your_purchases .product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.your_purchases .product a {
    font-size: 13px;
    color: #337ab7;
    font-weight: 500;
}

.your_purchases .product img {
    max-width: 65px;
    max-height: 65px;
}

.your_purchases .product input {
    width: 70px;
    text-align: center;
}

.product_name {
    display: flex;
    align-items: center;
}

.product_price {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.product_price input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px 6px;
}

.product .small {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 14px;
}

.product_price .small {
    text-align: center;
    margin-bottom: 30px;
}

.total_price {
    margin-top: 50px;
}

.total_price li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}

.total_price .btn {
    font-size: 14px;
    font-weight: 500;
}

.your_location {
    border: 1px solid #ccc;
    padding: 15px;
}

.your_location p {
    font-size: 14px;
}

.loc_info {
    font-size: 13px;
    background-color: #fcf8e3;
    padding: 10px;
}

.your_location .btn {
    border: 1px solid #ccc;
    margin-top: 20px;
    font-size: 14px;
}

.basket_wrapper label span {
    color: red;
    margin-left: 5px;
    font-weight: 600;
}

.basket_wrapper label {
    width: 40%;
    font-weight: 600;
    font-size: 14px;
}

.info_delivery li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media only screen and (max-width: 576px) {
    .nav_links {
        display: none;
    }
    .user_info li {
        flex-direction: column;
    }
    .user_info li input {
        width: 100% !important;
    }
    .user_info li label {
        width: 100% !important;
    }
    .info_delivery li {
        flex-direction: column;
    }
    .info_delivery li textarea {
        width: 100% !important;
    }
    .basket_wrapper label {
        width: 100% !important;
    }
    .your_purchases .product {
        display: block !important;
    }
    .your_purchases .product .product_name {
        width: 100% !important;
    }
    .your_purchases .product .product_price {
        width: 100% !important;
        margin-top: 20px;
    }
    .mobile_flex {
        display: flex !important;
        flex-direction: unset !important;
    }
}

.basket_icon {
    color: #fff;
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 10px;
    border: 1px solid #000;
    position: relative;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .5s ease;
    background-color: rgb(87 87 87) !important;
}

.basket_icon.desktop {
    display: inline-block;
    width: fit-content;
}

.basket_icon:hover {
    opacity: .7;
    color: #000;
    text-decoration: none;
}

.header_phone {
    display: flex;
    align-items: center;
}

.header_phone_content a {
    color: #000;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header_phone_content a img {
    margin-left: 14px;
}

.header_phone_content {
    color: #000;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

.header_button {
    background: none;
    border: none;
}

.header_button:focus {
    outline: none;
}

.basket_icon span {
    font-size: 10px;
    font-weight: 900;
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


/* MEDIA-MOBILE-END */

.slider_for img {
    margin: 0 auto;
    cursor: pointer;
}

.slider_nav {
    margin: 30px 0;
}

.slider_nav .slick-dots {
    bottom: -40px;
}

.slider_nav img {
    width: 80px !important;
    height: 80px !important;
    margin: 0 auto;
    cursor: pointer;
}

.slider_nav .slick-current img {
    filter: brightness(0.6);
}

.slider_nav a:focus,
.slider_for a:focus {
    outline: none;
    border: none;
}

.slick-initialized .slick-slide:focus {
    outline: none;
    border: none;
}

.fancybox-navigation .fancybox-button--arrow_left {
    left: 20%;
}

.fancybox-navigation .fancybox-button--arrow_right {
    right: 20%;
}

.swal-wide {
    width: 250px !important;
}

.swal2-title {
    font-size: 20px !important;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background: #fff;
    opacity: .8;
}

.product_wrapper {
    position: relative;
}

.product_item_wrapper {
    width: 50%;
}

.burger {
    display: none;
    width: 40px;
    height: 35px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    border-radius: 5px;
}

.burger .burger-lines {
    width: 70%;
    height: 2px;
    background-color: #fff;
    position: relative;
    display: block;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.burger .burger-lines::after {
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    height: 2px;
    background-color: #fff;
    bottom: -9px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.burger .burger-lines::before {
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    height: 2px;
    background-color: #fff;
    top: -9px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.burger-active {
    background-color: transparent !important;
}

.burger-active::before {
    top: 0 !important;
    transform: rotate(45deg);
    transition: all 0.1s ease;
}

.burger-active::after {
    top: 0 !important;
    transform: rotate(-45deg);
    transition: all 0.1s ease;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(87 87 87) !important;
    z-index: 100;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    background-size: 100%;
}

.mobile-menu ul {
    padding: 0;
    text-align: center;
}

.mobile-menu ul li {
    transform: translateX(-200%);
    list-style-type: none;
    margin: 15px 0;
}

.mobile-menu ul li:nth-child(1) {
    margin-top: 0;
    transition: transform 1s 0.1s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

.mobile-menu ul li:nth-child(2) {
    margin-top: 0;
    transition: transform 1s 0.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

.mobile-menu ul li:nth-child(3) {
    margin-top: 0;
    transition: transform 1s 0.3s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

.mobile-menu ul li:nth-child(4) {
    margin-top: 0;
    transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

.mobile-menu ul li:nth-child(5) {
    margin-top: 0;
    transition: transform 1s 0.5s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

.mobile-menu ul li:nth-child(6) {
    margin-top: 0;
    transition: transform 1s 0.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

.mobile-menu ul li a {
    color: #fff;
}

.mobile-menu-active {
    transform: translateX(0) !important;
}

.mobile-menu-active ul li {
    transform: translateX(0);
}

.mobile-menu .search {
    position: absolute;
    top: 10%;
    width: 100%;
}

.mobile-menu .search .search-input {
    width: 90%;
    margin: 0 auto;
}

.socials iframe {
    width: 100%;
}
